* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* 版面根父级div */
.app-container {
  height: 100vh;
  outline: none;
}

/* -------------------- */
/* 工作区 */
/* -------------------- */

.top {
  background-color: #f6f7f8;
}

.information-space {
  padding: 4px 8px;
  display: flex;
  height: 40px;
  background-color: #f6f7f8;
  justify-content: space-between;
}

.information-space .project-information {
  padding-left: 35px;
  padding-top: 9px;
  background-image: url(../images/Thryve-logo.png);
  background-repeat: no-repeat;
  background-position: -15px;
  background-size: 60px;
  font-size: 14px;
  font-family: 等线;
}


.information-space .search input {
  /* margin-left: 180px; */
  margin-left: 30px;
  margin-top: 4px;
  padding: 5px;
  outline: none;
  width: 360px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  background-image: url(../images/搜索.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 18px;
}

.information-space .user-information {
  display: flex;
}


.information-space .user-information .user-profile {
  width: 28px;
  height: 28px;
  border-radius: 15px;
  background-color: #767171;
  background-image: url(../images/user.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #efeff5;
  background-size: 30px;
}

.information-space .user-information .user-name {
  margin-left: 5px;
  margin-top: 8px;
  font-size: 14px;
  font-family: 等线;
}

.information-space .control-button button {
  background-color: #f6f7f8;
  border: 1px solid #f6f7f8;
  width: 20px;
  height: 20px;
}


.setting-space {
  padding: 8px 8px;
  display: flex;
  height: 40px;
  border-bottom: 1px solid #dfe0e2;
  justify-content: space-between;
}

.setting-space .left {
  display: flex;
}


.setting-space .setting-button {
  margin-right: 20px;
  width: 70px;
  height: 30px;
  font-size: 16px;
  background-color: #f6f7f8;
  border: 0px;
  border-radius: 4px;
  font-family: 华文中宋;
}

.setting-space .setting-button:last-child {
  margin-right: 0px;
}

.setting-space .setting-button:hover {
  background-color: #e9e6e6;
}

.setting-space .setting-button.share {
  /* margin-right: 40px; */
  height: 26px;
  width: 100px;
  border-radius: 4px;
  background-color: #1677ff;
  color: #fff;
}

.setting-space .right {
  display: flex;
}

.work-space {
  display: flex;
  padding: 8px 8px;
  width: 100%;
  height: 50px;
  background-color: #f6f7f8;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}

.work-space .left {
  display: flex;
}

.work-space .left .func-button {
  margin-right: 10px;
  background-color: #f6f7f8;
  border: 0px;
  font-size: 20px;
  width: 40px;
}


.work-space .right {
  display: flex;
}

.work-space .right .func-button {
  width: 40px;
}

/* 工作区workflow控制按钮 */
.workflow-controls {
  margin-right: 20px;
  display: flex;
  height: 50px;
  z-index: 10;
  gap: 8px;
}

.workflow-controls .ant-btn {
  /* background-color: pink; */
  width: 70px;
  display: flex;
  font-size: 14px;
  align-items: center;
}


/* -------------------- */
/* 工具箱 */
/* -------------------- */
.toolbar {
  width: 16%;
  height: 540px;
  overflow-y: auto;
  text-align: center;
  background: #f6f7f8;
  border-right: 1px solid #ddd;
}

.toolbar .options {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 70px;
  text-align: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #dfe2e5;
}

.toolbar h3 {
  padding: 4px 0px;
  width: 48px;
  height: 30px;
  border-bottom: 2px solid #000;
  /* background-color: pink; */
  font-size: 14px;
}

.toolbar-collapse {
  border-radius: 0px;
  margin-top: 5px;
}

.toolbar-collapse .ant-collapse-header {
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0px !important;
  height: 40px;
}

.toolbar-collapse .ant-collapse-content {
  background-color: #f6f7f8;
}

.toolbar-collapse .ant-collapse-expand-icon {
  order: 1;
  margin-left: -9px;
}

.toolbar-node {
  height: 60px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 12px;
  cursor: move;
  transition: 0.3s;
}

.toolbar-node:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  background-color: #1677ff;
  color: #fff;
  transform: translate(0, -6px);
}

.基本块:hover {
  background-color: #d76969;
}

.控制块:hover {
  background-color: #75c175;
}

/* -------------------- */
/* 面板区 */
/* -------------------- */
.canva {
  position: relative;
  display: flex;
  height: 500px;
  width: 100%;
}

.workflow-area {
  position: relative;
  flex: 1;
  height: 518px;
}


/* -------------------- */
/* 底部区 */
/* -------------------- */

.bottom-control {
  position: absolute;
  bottom: -41px;
  left: 201px;
  height: 22px;
  width: 84%;
  background-color: #f6f7f8;
  border-top: 1px solid #dfe2e5;
}

.console-toggle-button {
  cursor: pointer;
  padding: 6px 12px;
  height: 20px;
  border-radius: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
}


.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #333;
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(0deg);
}

.arrow.up {
  transform: rotate(180deg);
}

/* 控制台信息 */
.output-console {
  position: absolute;
  bottom: -19px;
  left: 201px;
  padding: 5px;
  width: calc(100vw - 201px);
  height: 0;
  opacity: 0;
  transition: height 0.4s ease, opacity 0.2s ease;
  background-color: #fff;
  font-size: 14px;
  border-top: 1px solid #ccc;
  overflow: auto;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  font-family: monospace;
  border-radius: 4px;
  word-break: break-word;
}

.output-console.open {
  height: 200px;
  opacity: 1;
}

.console-text {
  margin-left: 5px;
}


/* -------------------- */
/* 连接线样式 */
/* -------------------- */


/* 连接点默认样式 */
.react-flow__handle {
  border: 2px solid #2196F3;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


/* 连接点在连接时的动态效果 */
.react-flow__handle.connectionindicator {
  background-color: #fff;
  border-color: #2196F3;

}

/* 连接点聚焦时的效果 */
.react-flow__handle:focus {
  border-color: #2196F3;
  box-shadow: 0 0 5px 2px rgba(33, 150, 243, 0.5);
}

.node .react-flow__handle[data-handlepos="left"] {
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}

.node .react-flow__handle[data-handlepos="right"] {
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
}

/* 连接线——即将连接状态 */
.react-flow__connection-path {
  stroke: red !important;
  stroke-width: 2px;
  stroke-dasharray: 5, 5;
  animation: dash-animation 1s linear infinite;
}


/* 默认连线样式 */
.react-flow__edge-path {
  stroke: #1976D2;
  stroke-width: 2;
  stroke-dasharray: 5, 5;
  animation: dash-animation 0.5s linear infinite;
}

@keyframes dash-animation {
  0% {
    stroke-dashoffset: 10;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

/* 悬浮时的连接线效果 */
.react-flow__edge.selectable:hover .react-flow__edge-path {
  stroke: #FF5722;
  stroke-dasharray: 2, 2;
  animation: dash 1.5s linear infinite;
}


/* 连接线选中时的效果 */
.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke: #4ae14f;
  stroke-dasharray: 5, 5;
  animation: none;
}


/* -------------------- */
/* 节点信息 */
/* -------------------- */


/* -----基类节点node样式----- */
.node {
  width: 220px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.node:hover {
  transform: scale(1.05);
}

.node .ant-card-head {
  background: #3b82f6;
  width: 219px;
  border-radius: 8px 8px 0 0;
}

/* 调整 node 内部的标题样式 */
.node .ant-card-head-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}


/* 调整 node 的内容区域 */
.node .ant-card-body {
  font-size: 14px;
  font-weight: normal;
}

.node .file {
  margin-top: -12px;
  margin-bottom: 8px;
  margin-left: -10px;
}

.node .handle {
  margin-left: -10px;
}

.node .handle select {
  width: 100%;
  height: 33px;
  padding: '6px 8px';
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  outline: none;
}

/* -----节点basic-node样式----- */
.basic-node {
  width: 190px;
  height: 130px;
}

.basic-node .ant-card-head {
  width: 189px;
  background-color: #d76969;
}

.basic-node .ant-card-body {
  padding-left: 64px;
}

.operation-node {
  height: 240px;
  width: 200px;
}

.operation-node .ant-card-head {
  width: 199px;
}

.operation-node .ant-card-body {
  padding-top: 12px;
  padding-left: 15px;
}

.operation-node select {
  width: 100%;
  height: 33px;
  padding: '6px 8px';
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  outline: none;
}

.print .ant-card-body {
  padding-top: 10px;
  padding-left: 15px;
}

/* -----节点control-node样式----- */
.control-node {
  height: 140px;
  width: 180px;
}

.control-node .ant-card-body {
  padding-top: 12px;
}

.control-node .ant-card-head {
  width: 179px;
  background-color: #75c175;
}

.branch {
  height: 150px;
}